@model IEnumerable<personal_web.Models.BlogCategory>

@{
    ViewBag.Title = "BlogCategoryIndex";
    Layout = null;
}

<div class="table-responsive">
    <table class="table table-striped" id="blogCategoryTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger">
                            @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                        </button>

                    </td>
                </tr>


            }
        </tbody>

    </table>

</div>
