
@{
    ViewBag.Title = "Create";
}

@{
    string succesMessage = TempData["Sucess"] as string;
    string errorMessage = TempData["Fail"] as string;
}

@{
    if (!string.IsNullOrEmpty(succesMessage))
    {
        <div class="alert alert-success alert-fixed" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Sucess!</strong> '@succesMessage'.

        </div>

    }

    if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong> '@errorMessage'.
        </div>
    }
}


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><h6>Skill Create</h6></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false"><h6>Skills Detais Index</h6></a>
    </li>

</ul>


<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        @using (Html.BeginForm("AddSkill", "Skills", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {


            <div class="row">
                <div class="form-group col-md-6">
                    <label>Image</label>
                    <div class="col-md-12">
                        <input id="Image" name="Image" class="form-control" type="file" />
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label>Description</label>
                    <div class="col-md-12">
                        <input id="Description" name="Description" class="form-control" />
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label>Skill</label>
                    <div class="col-md-12">
                        <div class="row">
                            <input class="col-md-10 form-control" id="skillTitle" />
                            <button id="addToTable" type="button" class="btn btn-primary px-3">Add</button>
                        </div>
                        <label class="text-danger" id="skillErrorMgs" style="display:none;">Please Provide Skill</label>
                    </div>
                </div>

            </div>
            <div class="mt-3">
                <table class="table table-sm" id="skillList">
                    <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Skill</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <input id="tableData_value" name="skilltableData" style="display:none;" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" id="createSkill" value="Create" class="btn btn-info" />
                    <input type="reset" id="clear" value="Clear" class="btn btn-secondary ml-2" />
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
        @Html.Action("Index", "Skills")
    </div>
</div>

@section Scripts{

    <link href="~/Scripts/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function () {


            $("#skillTableDetails").DataTable();

            var count = 0;
            $("#addToTable").click(function () {

                count += 1;
                if (count >= 5) {
                    $("#addToTable").prop('disabled', true);
                }
                else {
                    var skill = $("#skillTitle").val();
                    if (skill == '') {
                        $("#skillErrorMgs").show();
                    }
                    else {
                        $("#skillErrorMgs").hide('');
                        $("#skillTitle").val('');

                        tableData = "<tr>";
                        tableData += "<td>" + count + "</td>";
                        tableData += "<td>" + skill + "</td>";
                        tableData += "<td>" + " " + "</td>";
                        tableData += "</tr>";

                        $("#skillList tbody").append(tableData);
                        console.log(tableData);
                    }
                }


            });

            $("#createSkill").click(function () {
                $("#createSkill").prop('type', 'button');
                var tableData = "#";
                $("#skillList tbody tr").each(function () {

                    tableData += $(this).find("td:eq(1)").html() + "#";
                });

                $("#tableData_value").val(tableData);
                $("#createSkill").prop('type', 'submit');
            });
        });


    </script>



}

